
@media (min-width: 320px) {
.hero::before {
background-image: url(/img/background-1932466_1920-460x305.jpg);
}
}

@media (min-width: 460px) {
.hero::before {
background-image: url(/img/background-1932466_1920-720x477.jpg);
}
}

@media (min-width: 720px) {
.hero::before {
background-image: url(/img/background-1932466_1920-980x649.jpg);
}
}

@media (min-width: 980px) {
.hero::before {
background-image: url(/img/background-1932466_1920-1240x821.jpg);
}
}

@media (min-width: 1240px) {
.hero::before {
background-image: url(/img/background-1932466_1920-1500x993.jpg);
}
}

@media (min-width: 1500px) {
.hero::before {
background-image: url(/img/background-1932466_1920-1760x1166.jpg);
}
}

@media (min-width: 1760px) {
.hero::before {
background-image: url(/img/background-1932466_1920-1920x1271.jpg);
}
}
